<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Tân Nhật Minh Glass</title>
  <th:block th:insert="components/titlePageComponent::titlePageComponent"></th:block>
</head>
<body>
<th:block th:insert="/components/formOrderComponent::orderFormComponent" ></th:block>
<th:block th:insert="/components/footer :: footerForm"></th:block>
<th:block th:insert="/components/jsComponent::jsComponent"></th:block>
</body>
</html>