<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Tân Nhật Minh Glass</title>
  <th:block th:insert="components/titlePageComponent::titlePageComponent"></th:block>
</head>
<body>
<!--<div th:if="${session.userLogin.}"></div>-->
<th:block th:insert="/components/header :: headerForm"></th:block>
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center"
       style="background-image: url('http://localhost:8080/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade"
         style="opacity: 1!important;">
      <h2>Quản Lý</h2>
      <ol>
        <li><a th:href="@{/}">Trang Chủ</a></li>
        <li>Quản Lý</li>
      </ol>
    </div>
  </div><!-- End Breadcrumbs -->
</main>
<section class="management">
  <nav class="management_option">
    <ul>
      <li><a th:href="@{/manageController?action=displayUser}"
             th:class="${displayUser != null ? 'choice_active' : ''}">User</a>
      </li>
      <li><a th:href="@{/manageController?action=displayPro}"
             th:class="${displayPro != null ? 'choice_active' : ''}">Sản
        Phẩm</a></li>
      <li><a th:href="@{/manageController?action=displayOrder}"
             th:class="${displayOrder != null ? 'choice_active' : ''}">Đơn Hàng</a></li>
      <li><a th:href="@{/manageController?action=displayCertificate}"
             th:class="${displayCertificate != null ? 'choice_active' : ''}">Chứng Chỉ</a></li>
    </ul>
  </nav>
  <th:block th:if="${displayUser != null}" th:insert="/components/usersComponent :: userTable"></th:block>
  <th:block th:if="${displayPro != null}" th:insert="/components/productsComponent :: productTable"></th:block>
  <!--    <th:block th:if="${displayPro != null}" th:insert="/components/listOrderComponent :: listOrderTable"></th:block>-->
  <!--    <th:block th:if="${displayPro != null}" th:insert="/components/certificatesComponent :: certificatesTable"></th:block>-->
</section>
<th:block th:insert="/components/footer :: footerForm"></th:block>
<th:block th:insert="/components/jsComponent::jsComponent"></th:block>
</body>
</html>