.form-createItem {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px 0px;
}

.form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-label {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.form-textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.form-button {
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-start;
}

.form-button:hover {
    background-color: #23527c;
}

@media screen and (min-width: 768px) {
    .form-createItem {
        margin: 0px 50px;
    }
    .form-group {
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }

    .form-label {
        width: 200px;
        margin-bottom: 0;
    }

    .form-input {
        width: 600px;
        margin-right: 10px;
    }

    .form-textarea {
        width: 600px;
        margin-right: 10px;
    }

    .product-image img {
        max-width: 30% !important;
    }
}

.file-upload {
    position: relative;
    margin-bottom: 10px;
    margin-right: 20px;
}

.file-upload label {
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-start;
}

.file-upload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.product-image {
    margin-bottom: 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.file-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-image img {
    max-width: 80%;
    height: auto;
    margin-bottom: 5px;
}

/*/Form Personal Information/*/
.form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}

.form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="password"],
#rePassword,
#password
/*,.edit-input*/
{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

.form input[type="submit"],
.edit_btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100px;
    margin: 10px;
}

.form .avatar {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.form .avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.form .userName,
.form .fullName,
.form .email,
.form .address,
.form .phoneNumber,
.form .password {
    margin-bottom: 10px;
}

.form .userName label{
    display: inline-block;
    margin-right: 50px;
}
.form .fullName label,
.form .email label,
.form .address label,
.form .phoneNumber label,
.form .password label,
.form .rePassword label {
    display: inline-block;
    width: 100%;
}

.form .avatar-upload {
    margin-bottom: 10px;
    text-align: center;
}

.form .avatar-upload input[type="file"] {
    display: none;
}

.form .back-home {
    margin-top: 20px;
    text-align: center;
}
.form  input[type="submit"] {
    margin-top: 10px;
}
.form input[type="submit"]:hover{
    /* background-color: var(--color-primary); */
    background-color: rgb(254,185,0);
}
.form .edit_btn:hover,.edit input[type="submit"]:hover{
    background-color: var(--color-primary);
}
.back-home a{
    text-decoration: none;
    color: var(--color-default);
}

.back-home:hover a{
    color: var(--color-primary);
}