<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post">
  <div class="order_CustomerDetail">
    <div style="text-align: center;">
      <h2 class="order_title">THÔNG TIN ĐẶT HÀNG</h2>
    </div>
    <div class="order_form-group">
      <label class="order_label" for="name">Họ và tên người đặt hàng:</label>
      <input hidden class="order_form-input" type="text" id="userId" name="userId"/>
      <input class="order_form-input" type="text" id="name" name="name" required/>
    </div>
    <div class="order_form-group">
      <label for="phone">Số điện thoại:</label>
      <input class="order_form-input" type="tel" id="phone" name="phone" required/>
    </div>
    <div class="order_form-group">
      <label for="address">Địa chỉ giao hàng:</label>
      <textarea class="order_form-input" id="address" name="address" required></textarea>
    </div>
    <div class="order_form-group">
      <label for="date" style="margin-right: 10%;">Ngày đặt hàng:</label>
      <input type="date" style="margin-bottom:0.5rem;text-align: center; width: 30%; height: 2rem;" id="date"
             name="date" required/>
    </div>
  </div>
  <h2 class="order_table_title">SẢN PHẨM</h2>
  <table class="order_table">
    <thead>
    <tr>
      <th>STT</th>
      <th>Tên sản phẩm</th>
      <th>Ảnh Sản Phẩm</th>
      <th>Số lượng</th>
      <th>Thành tiền</th>
      <th>Thay đổi</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderDetail : ${orderDetailList}">
      <td th:text="${orderDetail.getId()}"></td>
      <td>
        <th:block th:each="pro:${session.listProduct}">
                        <span th:if="${pro.getId()!=orderDetail.getProduct_id()?hidden:''}"
                              th:text="${pro.getProductName()}"></span>
        </th:block>
      </td>
      <td width="15%">
        <th:block th:each="pro:${session.listProduct}">
          <img width="100%" th:if="${pro.getId()!=orderDetail.getProduct_id()?hidden:''}"
               th:src="${'/products/' + pro.getImg()}"/>
        </th:block>
      </td>
      <td>
        <input style="text-align: center" class="order_inputNumber" type="number" name="quantity" id="inputQuantityShow" th:value="${orderDetail.getQuantity()}"
               min="1" readonly/>
      </td>
      <td><span th:text="${orderDetail.getProduct_price()}"></span><sup> VND</sup><span>/đv </span></td>
      <td>
        <a th:href="@{'/cartController/deleteOrderDetail/'+${orderDetail.getId()}}">
          <button type="button" class="btn btn-danger">Xóa</button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="order_total">
    <label for="order_total-label">Tổng tiền:</label>
    <span class="order_inputNumber" id="order_total-label" name="total"></span>
    <sup>VND</sup>
  </div>
  <!-- <h2 class="order_table_title">TRẠNG THÁI</h2>
  <div class="order_form-group">
    <label for="status" style="margin-bottom: 20px;">Trạng thái:</label>
    <select class="order_form-input" style="margin-top: 0.5rem;" id="status" name="status" required>
      <option value="">-- Chọn trạng thái --</option>
      <option value="Đang xử lý">Đang xử lý</option>
      <option value="Đã giao hàng">Đã giao hàng</option>
      <option value="Đã hủy">Đã hủy</option>
    </select>
  </div> -->
  <div class="order_form-group order_form-submitBtn ">
    <a href="">
      <button type="button" class="btn btn-warning">Thanh Toán</button>
    </a>
  </div>
  <div class="order_form-group order_form-submitBtn ">
    <a th:href="@{/}" th:text="${'Trở về trang chủ'}"></a>
  </div>
</form>
</body>
</html>