<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="certificatesTable" class="management_main">
    <div class="management_main_content">
        <h2>Certificates</h2>
        <div style="margin-bottom: 20px;color: #1a1e21">
            <a th:href="@{/manageController/createCertificate}" style="text-decoration: none" th:class="addContent"> Add
                Certificates </a>
        </div>
        <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="certificate:${certificates}">
                    <td th:text="${certificate.getId()}"></td>
                    <td style="max-width: 20%" th:text="${certificate.getCertificateName()}"></td>
                    <td width="20%"><img width="100%" th:src="${'/certificates/'+certificate.getImg()}" alt=""></td>
                    <td>
                        <select style="max-width: 100%" name="type" th:value="${certificate.getType()}">
                            <option style="max-width: 100%;text-align: center;border: none" th:value="0"
                                    th:selected="${certificate.getType()==0?'':'no'}">Danh sách
                            </option>
                            <option style="max-width: 100%;text-align: center;border: none" th:value="1"
                                    th:selected="${certificate.getType()==1?'':'no'}">Kết Quả Kiểm Nghiệm
                            </option>
                            <option style="max-width: 100%;text-align: center;border: none" th:value="2"
                                    th:selected="${certificate.getType()==2?'':'no'}">Chứng Nhận Hợp Chuẩn Hợp Quy
                            </option>
                            <option style="max-width: 100%;text-align: center;border: none" th:value="3"
                                    th:selected="${certificate.getType()==3?'':'no'}">Chứng Nhận ISO
                            </option>
                        </select>
                    </td>
                    <td><a th:href="@{'/manageController/editCertificate/'+${certificate.getId()}}">Edit</a> | <a th:href="@{'/manageController/deleteCertificate/'+${certificate.getId()}}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>