<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-createItem"
      th:action="${product.getId()==0}?'/manageController/addProduct':'/manageController/updateProduct'"
      th:fragment="formAddProduct" method="post">
    <div class="form-container">
        <div class="form-group">
            <label class="form-label" for="product-category">Danh mục:</label>
            <select class="form-input" id="product-category" name="categoryId">
                <option value="0">-- Chọn danh mục --</option>
                <th:block th:each="category:${session.categories}">
                    <th:block></th:block>
                    <option th:value="${category.getId()}"
                            th:selected="${category.getId()==product.getCategoryId()?'':'no'}"
                            th:text="${category.getCategoryName()}"></option>
                </th:block>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label">Tên Sản Phẩm:</label>
            <input class="form-input" th:value="${product.getProductName()}" type="text" name="productName">
        </div>
        <div class="form-group">
            <label class="form-label">Tiêu đề:</label>
            <input class="form-input" th:value="${product.getTitle()}" type="text" name="title">
        </div>
        <div class="form-group">
            <label class="form-label" for="stoke">Số lượng:</label>
            <input class="form-input" type="number" th:value="${product.getStoke()}" id="stoke" name="stoke"
                   min="1">
        </div>
        <div class="form-group">
            <label class="form-label">Giá:</label>
            <input class="form-input" type="number" th:value="${product.getPrice()}" name="price" min="0">
        </div>
        <div class="form-group product-image">
            <label class="form-label">Ảnh:</label>
            <div class="file-upload">
                <label for="img" class="form-button">Tải ảnh lên</label>
                <input type="file" id="img" name="img">
            </div>
            <th:block th:if="${product.getImg()!=null}">
                <th:block th:if="${product.getImg()!=''}">
                    <img th:src="@{product.getImg()}" alt="Product image preview">
                </th:block>
            </th:block>
        </div>
        <div class="form-group">
            <label class="form-label">Mô tả:</label>

            <textarea class="form-textarea" th:value="${product.getDescription1()}"
                      name="description1"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label">Mô tả:</label>
            <textarea class="form-textarea" th:value="${product.getDescription2()}"
                      name="description2"></textarea>

        </div>
        <div class="form-group">
            <label class="form-label">Mô tả:</label>
            <textarea class="form-textarea" th:value="${product.getDescription3()}"
                      name="description3"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label">Mô tả:</label>
            <textarea class="form-textarea" th:value="${product.getDescription4()}" name="description4"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label">Mô tả:</label>
            <textarea class="form-textarea" th:value="${product.getDescription5()}"
                      name="description5"></textarea>
        </div>
        <div style="display: flex;justify-content: center">
            <button type="submit" class="form-button"
                    th:if="${product.getProductName()!=null}">Cập Nhật
            </button>
            <button type="submit" class="form-button"
                    th:if="${product.getProductName()==null}">Thêm sản phẩm
            </button>
        </div>
    </div>
</form>
</body>
</html>