<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<form class="form-createItem" th:fragment="formAddProduct">
    <div class="form-container">
        <div class="form-group">
            <label class="form-label" for="product-category">Danh mục:</label>
            <select class="form-input" id="product-category" name="product-category">
                <option value="0">-- Chọn danh mục --</option>
                <th:block th:each="category:${session.categories}">
                    <option th:value="${category.getId()}"  th:text="${category.getCategoryName()}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label" for="productName">Tên Sản Phẩm:</label>
            <input class="form-input" type="text" id="productName" name="productName">
        </div>
        <div class="form-group">
            <label class="form-label" for="title">Tiêu đề:</label>
            <input class="form-input" type="text" id="title" name="title">
        </div>
        <div class="form-group">
            <label class="form-label" for="stoke">Số lượng:</label>
            <input class="form-input" type="number" id="stoke" name="stoke" min="1">
        </div>
        <div class="form-group">
            <label class="form-label" for="price">Giá:</label>
            <input class="form-input" type="number" id="price" name="price" min="0">
        </div>
        <div class="form-group product-image">
            <label class="form-label">Ảnh:</label>
            <div class="file-upload">
                <label for="img" class="form-button">Tải ảnh lên</label>
                <input type="file" id="img" name="img">
            </div>
            <img th:src="@{/img/about.jpg}" alt="Product image preview">
        </div>
        <div class="form-group">
            <label class="form-label" for="description1">Mô tả:</label>
            <textarea class="form-textarea" id="description1" name="description1"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label" for="description2">Mô tả:</label>
            <textarea class="form-textarea" id="description2" name="description2"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label" for="description3">Mô tả:</label>
            <textarea class="form-textarea" id="description3" name="description3"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label" for="description4">Mô tả:</label>
            <textarea class="form-textarea" id="description4" name="description4"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label" for="description5">Mô tả:</label>
            <textarea class="form-textarea" id="description5" name="description5"></textarea>
        </div>
        <div  style="display: flex;justify-content: center">
        <button type="submit" class="form-button">Thêm sản phẩm</button>
        </div>
    </div>
</form>
</body>
</html>