<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="headerForm">
    <div id="header" class="header d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a th:href="@{/}" class="logo d-flex align-items-center">
                <h1 class="logo-TNM"><img th:src="@{/img/logo/TNM_logo.jpg}" alt=""></h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/home?action=home" th:class="${home!=null?'active':''}">Trang Chủ</a></li>
                    <li><a href="#about">Về Chúng Tôi</a></li>
                    <li class="dropdown"><a href="#"><span>Sản Phẩm</span>
                        <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <a href="">Kính Cường Lực</a>
                            <a href="">Kính Low-E</a>
                            <a href="">Kính Dán An Toàn</a>
                            <a href="">Kính Hộp</a>
                            <a href="">Kính Phun Cát</a>
                            <a href="">Kính Màu Trang Trí</a>
                            <a th:href="@{/manageController/getAllProduct}">Tất Cả</a>
                        </ul>
                    </li>
                    <li><a href="#recent-blog-posts">Dự Án</a></li>
                    <li><a href="#get-started">Liên Hệ</a></li>
                    <li th:if="${session.userLogin != null && session.userLogin.getRole()=='admin'}"><a th:href="@{/manageController}"><span>Quản Lý</span></a></li>
                    <li class="dropdown" th:if="${session.userLogin==null}"><a href="#"><span>Đăng Nhập</span>
                        <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <a th:href="@{/formLogin}">Đăng Nhập</a>
                            <a th:href="@{/formRegister}">Đăng Kí</a>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${session.userLogin != null}">
                        <a href="#"><span th:text="${session.userLogin.getUserName()}"></span>
                            <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <a th:href="@{/userManage/personalInformation}">Thông tin cá nhân</a>
                            <a th:href="@{/cartController/UserLoginOrder}">Giỏ Hàng</a>
                            <a th:href="@{/logOut}">LogOut</a>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
</body>
</html>