<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="jsComponent">
<script th:src="@{/vendor/aos/aos.js}"></script>
<script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{/vendor/php-email-form/validate.js}"></script>
<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>
</th:block>
</body>
</html>