<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="userTable" class="management_main">
    <div class="management_main_content">
        <h2>User</h2>
        <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${listUser}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getUserName()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:text="${user.getPhone()}"></td>
                    <td th:text="${user.getRole()}"></td>
                    <td><a href="#">Edit</a> &emsp;|&emsp; <a href="#">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>